.back-btn {
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(223, 219, 223, 0.808);
    font-weight: 600;
    color: black;
    align-self: center;
    margin-left: 45%;
    transition: background-color 0.3s ease;
  }
  
  .back-btn:hover {
    background-color: darkseagreen;
  }
  
  .back {
    width: 15rem;
    height: 3rem;
  }
  