.main {
    background-color: brown;
    width: 60%;
    height: 100vh;
}

.user {
    color: rgb(5, 15, 24);
    text-align: center;
    margin-top: 50px;
    margin-left: 20%;
    width: 100%;
}

.card:hover {
    background-color: rgb(168, 219, 102);
    border-color: black;
    /* Add transition for smooth animation */
    transition: background-color 0.3s ease;
}

.text {
    text-align: center;
    color: blue;
}

.card {
    border-color: black;
    width: 150%;
    /* Add animation */
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
