<header class="about">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <br>
                    <br>
                    <br>
                    <h1 class="display-5 fw-bolder text-black mb-2">About Us:</h1>
                    <br>
                    <h2>Shipping that's simple,quick&easy</h2>
                    <br>
                    <p class="lead fw-normal text-white-50 mb-4">Every online seller wants to ensure the fastest order delivery and the best brand experience for their customers in today’s competitive world. While there are several top courier companies in India, many eCommerce brands find it challenging to choose the best one. </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-xl-5 col-xl-5 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="../assets/l1.jpg" alt="..." /></div>
        </div>
    </div>
</header>