 <!-- ======= Header ======= -->
 <div *ngIf="router.url!='/customerp'">
  <div *ngIf="router.url!='/home2'">
  <div *ngIf="router.url!='/customer-d'">
  <div *ngIf="router.url!='/brands'">
    <div *ngIf="router.url!='/laptops'">
    <div *ngIf="router.url!='/cart'">
      <div *ngIf="router.url!='/laptop-d'">
        <div *ngIf="router.url!='/update-l'">
          <div *ngIf="router.url!='/middle'">
            <div *ngIf="router.url!='/view-customer'">
              <div *ngIf="router.url!='/find-id'">
      
 <header id="header" class="fixed-top ">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
        <h1 class="logo me-auto me-lg-0"><!--<img src="/assets/logo.png" height="45px" width="45px">--><a href="index.html">Swifty Courier</a></h1>
        
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li ><a class="nav-link scrollto active"  href="#home">Home</a></li>
            <li><a class="nav-link scrollto"  routerLink="/about" routerActive="active" href="">About</a></li>
            <li class="dropdown"><a class="nav-link" href="#"><span>login page</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a class="nav-link" routerLink="/admin" routerActive="active" href="#">AdminLogin</a></li>
                <li><a class="nav-link" routerLink="/signup" routerActive="active"href="#">CustomerLogin</a></li> 
              </ul>
            </li>
         
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a href="#about" class="get-started-btn scrollto">Get Started</a>
      </div>
    </div>

  </div>
</header>
</div><!-- End Header -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>