.box{
    width: 50%;
    border: 1px solid rgb(154, 138, 138);
    border-radius: 25px;
    padding: 0px 20px 20px 20px;
    margin-left: 300px;
    background-color:rgb(235, 243, 239);
}
.main{
    background-color: brown;
    width:90%;
    height: 100vh;
    
}
